.posterImage{
    height: 560px;
}

.posterImage > img {
    margin: auto;
    display: block;
    width: 100%;
}

.posterImage__overlay {
    position: absolute;
    padding: 10rem 5rem;
    color: white;
    bottom: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,1));
    opacity: 1;
    transition: opacity .3s;
}   

.posterImage__overlay:hover {
    opacity: 1;
}

.posterImage__title {
    font-weight: 900;
    font-size: 4rem;
    margin-bottom: 0.4rem;
    text-align: left;
    font-family: 'Syne', sans-serif;
}

.posterImage__runtime {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: 'Syne', sans-serif;
}

.posterImage__rating {
    margin-left: 3rem;
}

.posterImage__description {
    font-style: italic;
    font-size: 1rem;
    color: #cccbcb;
    margin-bottom: 0.25rem;
    display: flex;
    text-align: left;
    width: 50%;
}
span.posterImage__rating .icon {
    color: #24ff18;
    font-size: 35px;
    margin-left: 12px;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: rgb(230, 230, 230);
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(179,13,111,1) 35%, rgba(0,212,255,1) 100%);
    border: 2px solid transparent;
    border-radius: 10px;
    background-clip: content-box;
}



